<%- include('../partials/header.ejs') %> 

<main>
<% recipes.forEach(recipe => { %>
<div>
	<span> <%=recipe.name %> </span>
	<span> <%= recipe.category %> </span>
	<a href="/recipes/<%= recipe._id %>">show details</a>
</div>
<%})%> 
</main>

<%- include('../partials/footer.ejs') %>
