<%- include('../partials/header.ejs') %>

<main>
	<div>Name <%=recipe.name %></div>

	<div>Category <%= recipe.category %></div>

	<div>Description <%= recipe.description %></div>

	<div>Ingredients <%= recipe.ingredients %></div>

	<div>Instructions <%= recipe.instructions %></div>

	<div><a href="/recipes/<%= recipe._id %>/edit"><button>Edit Recipe</button></a></div>

	<div>Comments <%= recipe.comments %></div>
</main>

<%- include('../partials/footer.ejs') %>
