<%- include('../partials/header.ejs') %>
<form action="/recipes/<%=recipe._id%>?_method=DELETE" method="POST" id="delete-recipe">
	<button type="submit">Delete</button>
</form>
<section>
	<div>Name <%=recipe.name %></div>

	<div>Category <%= recipe.category %></div>

	<div>Description <%= recipe.description %></div>

	<div>Ingredients <%= recipe.ingredients %></div>

	<div>Instructions <%= recipe.instructions %></div>

	<div>Comments <%= recipe.comments %></div>
</section>


<%- include('../partials/footer.ejs') %>
